@use "../../assets/styles/mixins" as mixin;

$button-top: -50px; // Position initiale des boutons
$button-opacity: 0; // Opacité initiale des boutons

.btn {
  padding: 8px 5px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s opacity;
  opacity: $button-opacity; // Définir l'opacité initiale des boutons
  position: relative;
  top: $button-top; // Définir la position initiale des boutons
  z-index: 1000;

  &:hover {
    opacity: 0.8;
  }
}

// Animation des boutons lors du chargement de la page
@keyframes slideInFromTop {
  0% {
    top: $button-top;
    opacity: $button-opacity;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

// Application de l'animation aux boutons
.btn {
  animation: slideInFromTop 0.5s ease-in-out forwards;
  &:nth-child(1) {
    animation-delay: 0.1s;
  }
  &:nth-child(2) {
    animation-delay: 0.2s;
  }
  &:nth-child(3) {
    animation-delay: 0.3s;
  }
  &:nth-child(4) {
    animation-delay: 0.4s;
  }
  &:nth-child(5) {
    animation-delay: 0.5s;
  }
}

.btn-primary {
  // background-color: var(--primary);
  color: var(--primary);
  background: transparent;
  // border: 2px solid var(--primary);
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  @include mixin.headerMenu {
    font-weight: 400;
    font-size: 16px;
  }
}

.btn-reverse-primary {
  // border: 2px solid var(--primary);
  color: var(--primary);
  background: transparent;
  // background-color: white;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  @include mixin.headerMenu {
    font-weight: 400;
    font-size: 16px;
  }
}

.card {
  border-radius: 10px;
  background-color: white;
}

.text-primary {
  color: var(--purple-high);
  transition: all 0.6s ease;
}

.text-primary:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px var(--purple-high), 0 0 82px var(--purple-high),
    0 0 92px var(--purple-high), 0 0 102px var(--purple-high);
}

.fa-heart {
  animation: heartBeat 0.6s ease;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
}

@keyframes heartBeat {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(1, 1, 1, 45deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.fa-heart.clicked {
  animation: explode 0.6s ease;
}

@keyframes explode {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.5, 1.5, 1.5) rotate3d(1, 1, 1, 360deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
}

input {
  padding: 10px 15px;
  border: 2px solid var(--gray-2);
  border-radius: 20px;
}

.form-error {
  margin: 0;
  color: var(--red-1);
  font-weight: 500;
  font-size: 12px;
}

.btn > span {
  padding: 0 5px 0 5px;
  &:hover {
    text-decoration: underline; /* Sous-ligner le texte au survol de la souris */
    text-decoration-color: var(
      --primary
    ); /* Définir la couleur de soulignement à la même que celle du texte */
  }
}

.btn > i {
  padding-left: 5px;
}

.btn-danger {
  background-color: var(--secondary);
  color: white;
  border: 2px solid var(--secondary);
}
