:root {
  --primary: #5271ff;
  --search-bar-input: #4b6cff;
  --secondary: #8b5b3c;
  --background-color: #f0f0f0;
  --gray-1: #000000;
  --gray-2: #cccccccc;
  --gray-3: #3e3d3d;
  --red-1: #eb2f06;
  --host--gray: #c4c4c4;
  --font-family: "Montserrat", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color-1: #333333;
  --text-color-2: #ffffff;
  --thumb-linear-gradient-background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  --border: 1px solid var(--gray-2);
  --border-radius: 4px;
}
