.title {
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;
  padding: 25px 0 0 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  padding: 0 45px 100px 45px;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  padding: 0 0 75px 0;
  display: flex;
  align-items: flex-end;
  text-decoration-line: underline;
}

@media screen and (max-width: 992px) {
  .title {
    font-size: 216px;
  }
  .text {
    font-size: 27px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 144px;
  }
  .text {
    font-size: 22px;
    flex-wrap: wrap;
  }
  .link {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 96px;
    padding: 100px 0 0 0;
  }
  .text {
    font-size: 19px;
    flex-wrap: wrap;
    padding: 0 50px 120px 50px;
  }
  .link {
    font-size: 16px;
    padding: 0 50px 120px 50px;
  }
}
